.displayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: var(--twitchViolet);
  margin-right: 1hv;
}

.chat_holder {
  border: 5px solid silver;
  background-color: whitesmoke;
  overflow: auto;
  color: black;
  flex-grow: 3;
  width: 100%;
  min-height: 25vh;
}
.removed_holder {
  color: black;
  border: 5px solid silver;
  background-color: rgb(161, 135, 135);
  overflow: auto;
  flex-grow: 1;
  width: 100%;
  min-height: 10vh;
}

.search_bar {
  display: flex;
  align-items: center;
  height: 8vh;
}

@font-face {
  font-family: "Twitchy";
  src: url("./fonts/RoTwimchRegular-WyR3n.ttf") format("truetype");
}
@font-face {
  font-family: "Roobert";
  src: url("./fonts/RoobertRegular.ttf") format("truetype");
}
