:root {
  --twitchViolet: #9146ff;
  font-family: "Roobert", sans-serif;
}

.header {
  /*  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background: whitesmoke;
  color: var(--twitchViolet);
  min-height: 50px;
  padding-bottom: 5px;
  border: 5px var(--twitchViolet) solid;
  margin: 1rem;
  box-shadow: -7px 7px var(--twitchViolet);
}

#main_title {
  font-family: "Twitchy", sans-serif;
  font-size: 2rem;
  grid-column-start: 2;
  place-self: center;
}

#button_download {
  grid-column-start: 3;
  place-self: center;
  align-self: center;
  border-radius: 3px;
  background-color: var(--twitchViolet);
  color: whitesmoke;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.1s ease-in;
  &:hover {
    box-shadow: -3px 3px #5d2ca5;

    transition: all 0.1s ease-in;
  }
}
